.sort {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    z-index: 10;
    &__placeholder {
        font-size: 16px;
        font-weight: 500;
        padding: 15px 25px 15px 15px;
        position: relative;
        svg {
            width: 10px;
            height: 10px;
            fill: #fff;
            right: 10px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            transition: .3s;
        }
    }
    &__list {
        overflow: hidden;
        height: 0;
        transition: height .3s;
        position: absolute;
        border-radius: 5px;
        width: 100%;
        background: #0f1015;
        font-weight: 500;
        font-size: 16px;
    }
    &__button {
        text-align: center;
        border-bottom: 1px solid #ff186c;
        padding: 15px 20px;
        &:last-child {
            border: 0;
        }
    }
    &.open {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        .sort__list {
            height: 95px;
            border: 1px solid #ff186c;
        }
        .sort__placeholder svg {
            transform: translateY(-50%) rotate(-180deg);
        }
    }
}