.header {
    padding: 20px 15px;
    position: fixed;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
	max-width: 1200px;
	background: $background-color;
    z-index: 100;
    &__buttons {
        display: flex;
        justify-content: space-between;
        .button {
            @include phone {
                font-size: 14px;
            }    
        }
    }
}