$sm-phone: 360px;
$phone: 656px;
$sm-tablet: 920px;
$desktop: 1200px;


$purple-color: #ff186c;
$white-color: #fff;
$gray-color: #b2b2b2;
$yellow-color: #f2ff00;
$background-color: #0f1015;
$light-black-color: rgba(0, 0, 0, 0.3);