@import '../css/reset';

* {
    box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	background: #0f1015;
	max-width: 1440px;
	margin: 0 auto;
    overflow-x: hidden;
}

@import 'mixins';
@import './components/logo';
@import './components/nav';
@import './components/button';
@import './components/social';
@import './components/popup';
@import 'header';
@import 'main';
@import 'footer';

