@import '../css/reset';
@import 'variables';
@import 'mixins';

* {
    box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	background: $background-color;
	max-width: 1200px;
	margin: 0 auto;
    overflow-x: hidden;
	color: $white-color;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

@import 'header';
@import 'main';
@import './components/cards';
@import './components/buttons';
@import './components/preloader';
@import './components/modal';
